body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeaea!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i.logo.nav {
  font-size: 1.5rem!important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

i.logo.home {
  font-size: 25px;
  vertical-align: baseline;
  margin-left: 10px;
  margin-right: 2px;
}

/*end home page*/


/*actvities list page*/

i.calendar.plus.outline.icon.create-activity {
  opacity: 1;
  font-size: 15px;
}

/*end actvities list page*/

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(24,42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%)!important;
}

.react-calendar {
  width: 100%;  
  border: none;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  border-radius: .28571429rem;
}

.activities-header-ctn h1 {
  margin-bottom: 0!important;
  font-weight: lighter!important;
}

.ui.container.activity-item-ctn {
  margin-top: 30px;
}